<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="public/main.css" />
  </head>
  <body>
    <nav
      class="flex justify-center items-center h-8 gap-3 underline bg-teal-100 w-screen"
    >
      <a href="/movies">Home</a>
      <a href="/movies/new">Create A Movie</a>
      <% if (user) { %>
      <a href="/auth/sign-out">Sign out</a>
      <% } else { %>
      <a href="/auth/sign-in">Sign in</a>
      <a href="/auth/sign-up">Sign-up</a>
      <% } %>
    </nav>
  </body>
</html>
