<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="text-center text-blue-800 bg-gray-200 animate-pulse"
      <a href="/">Home</a>
     <a href="/">Movie List</a>
      <a href="/movies/new">Add A Review</a>
      <a href = "/movies/review">Reviews</a>
      <a href = "/movies/newmovie">Create A New Movie</a>
     
    </nav>
  </body>
</html>
