


<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=k, initial-scale=1.0">
    <title>Film Fanatics</title>
</head>
<body>
    <h1>Welcome to Film Fanatics</h1>

    <% movies.forEach(movie => { %>
        <h3><%=movie.reviews%></h3>
        <a href="/movies/new/<%= movie._id %>">Write a review for this movie</a>
        <hr>
    <%})%>

</body>
</html> 